.body {
  grid-template-areas: 
    "cards"
    "presentation";
}

.body div:first-child {
  grid-area: presentation;
}

.body div:last-child() {
  grid-area: cards
}

@media (min-width: 1024px) {
  .body {
    grid-template-areas: 
      "presentation cards";
  }
}